body {
    background-color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}
/* Header */
header{
    background-color: #F5F7FA;
    display: flex;
    width: 100%;
    height: 84px;
    justify-content: space-between;
    align-items: center;
    padding: 30px 120px 30px 105px;
}

.link-group{
    display: flex;
    gap: 50px;
    
    font-size: 14px;
    color: #18191F;
}

.link-group a:hover {
    font-weight: 600;
    
}

.auth-button {
    display: flex;
    gap: 14px;
}

.button-default {
    cursor: pointer;
    background-color: #F5F7FA;
    color: #4CAF4F;
}

.button-green {
    cursor: pointer;
    background-color: #4CAF4F;
    font-size: 14px;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 6px;
}
/* Main */
main{
    display: flex;
    flex-direction: column;
}

/* Conteúdo Inicial */
.text-content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 16px;
}

.initial-content{
    padding: 96px 144px;
    background-color: #F5F7FA;
    display: flex;
    gap: 34px;
}

.descripiton-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 34px;
}

h1{
    color: #4D4D4D;
    font-size: 64px;
    font-weight: 600;
}

span{
    color: #4CAF4F;
}

p{
    font-size: 16px;
    color: #717171;
}

.button-register{
    width: 128px;
    height: 52px;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #4CAF4F;
    border-radius: 4px;
    padding: 14px 32px;
}

/* Grupo de Clientes */
.clients-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.text-clients{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}

.text-clients > h2 {
    font-size: 36px;
    font-weight: 600;
    color: #4D4D4D;
}

.text-clients > p {
    font-size: 16px;
    line-height: 44px;
    color: #717171;
}

.customer-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 25px 144px;
}

.customer-group img {
    width: 48px;
    height: 48px;
}

/* Conteúdo da comunidade */
.community-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group-card-community{
    display: flex;
    justify-content: space-evenly;
    margin-top: 16px;
    padding: 10px 144px;
    gap: 120px;
}

.text-community{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding-left: 32%;
    padding-right: 32%;
    width: 100%;
    text-align: center;
    gap: 8px;
}

.text-community > h2{
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
    color: #4D4D4D;
    text-align: center;
}

.card{
    width: 299px;
    height: 260px;
    padding: 16px 24px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px #abbed12a;
}

.body-card > p{
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #717171;
}

.header-card > h3 {
    text-align: center;
    line-height: 44px;
    font-size: 28px;
    color: #4D4D4D;
    font-weight: bold;
}


.card, .header-card, .body-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-card > img {
    width: 65px;
    height: 56px;
}

/* Modile Content */
.content-mobile-login{
    display: flex;
    justify-content: center;
    gap: 49px;
    padding-right: 144px;
    padding-left: 144px;
    margin-top: 94px;
    margin-bottom: 100px;
}

.description-mobile-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

.text-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;

    text-align: start;
}

.text-group > h2{
    text-align: initial;
    font-size: 28px;
    line-height: 44px;
    color: #4D4D4D;
    font-weight: bold;
    padding-right: 30%;
}

.text-group > p{
    font-size: 14px;
    color: #717171;
    padding-right: 60px;
}

.description-mobile-login > button{
    width: 151px;
    height: 52px;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #4CAF4F;
    border-radius: 4px;
    padding: 14px 32px;
}

/* Conteúdo das Estátisticas */

.content-statistics-group{
    display: flex;
    align-items: center;
    gap: 200px;

    padding: 64px 144px;
    background-color: #F5F7FA;
}

.text-group-statistics{
    display: flex;
    text-align: start;

    flex-direction: column;
    gap: 8px;
}

h2 > span {
    display: flex;
    flex-direction: column;
}

.text-group-statistics > h2{
    line-height: 44px;
    font-size: 28px;
    color: #4D4D4D;
    font-weight: bold;
}

.group-cards-statistics{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
    column-gap: 30px;
    
}

.card-statistics {
    display: flex;
    gap: 10px;
}

.card-statistics > img{
    align-items: center;
    width: 48px;
    height: 48px;
    margin-right: 5px;
}
