body {
    background-color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}
/* Header */
header{
    background-color: #F5F7FA;
    display: flex;
    width: 100%;
    height: 84px;
    justify-content: space-between;
    align-items: center;
    padding: 30px 120px 30px 105px;
}

.link-group{
    display: flex;
    gap: 50px;
    
    font-size: 14px;
    color: #18191F;
}

.link-group a:hover {
    font-weight: 600;
    
}

.auth-button {
    display: flex;
    gap: 14px;
}

.button-default {
    cursor: pointer;
    background-color: #F5F7FA;
    color: #4CAF4F;
}

.button-green {
    cursor: pointer;
    background-color: #4CAF4F;
    font-size: 14px;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 6px;
}
/* Main */
main{
    display: flex;
    flex-direction: column;
}

/* Conteúdo Inicial */
.text-content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 16px;
}

.initial-content{
    padding: 96px 144px;
    background-color: #F5F7FA;
    display: flex;
    gap: 34px;
}

.descripiton-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 34px;
}

h1{
    color: #4D4D4D;
    font-size: 64px;
    font-weight: 600;
}

h1 > span{
    color: #4CAF4F;
}

p{
    font-size: 16px;
    color: #717171;
}

.button-register{
    width: 128px;
    height: 52px;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #4CAF4F;
    border-radius: 4px;
    padding: 14px 32px;
}

/* Grupo de Clientes */
.clients-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.text-clients{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}

.text-clients > h2 {
    font-size: 36px;
    font-weight: 600;
    color: #4D4D4D;
}

.text-clients > p {
    font-size: 16px;
    color: #717171;
}

.customer-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 25px 144px;
}

.customer-group img {
    width: 48px;
    height: 48px;
}

/* Conteúdo da comunidade */
.community-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group-card-community{
    display: flex;
    gap: 134px;
}

.text-community{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding-left: 32%;
    padding-right: 32%;
    width: 100%;
    text-align: center;
    gap: 8px;
}

.text-community > h2{
    font-size: 36px;
    font-weight: 600;
    color: #4D4D4D;
    text-align: center;
}

.card{
    
}

.body-card > p{
    text-align: center;
    font-size: 14px;
    color: #717171;
}

.header-card > h3 {
    
    text-align: center;
    font-size: 28px;
    color: #4D4D4D;
    font-weight: bold;
}


.card, .header-card, .body-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-card > img {
    width: 65px;
    height: 56px;
}

/* Card 
p: 14px
h3: bold 28px
box-shadown: x-0 y-2 blur-4 color: #ABBED1 20%
border-radius: 8px;
*/